@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme Colors */
  --color-primary: #1F77FF;
  --color-secondary: #4E5D78;
  --color-accent: #FFB703;
  
  /* Background Colors */
  --color-background: #080C16;
  --color-surface: #0E141F;
  --color-border: #1C2838;
  
  /* Typography Colors */
  --color-text-primary: #F5F7FA;
  --color-text-secondary: #AAB4C5;
  
  /* Focus and Interactive States */
  --color-focus-ring: rgba(31, 119, 255, 0.5);
  --color-hover-overlay: rgba(255, 255, 255, 0.1);
}


/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  color: var(--color-text-primary);
}


body {
  @apply bg-background h-screen w-full bg-cover bg-center bg-no-repeat bg-fixed;
}
